name: js-typecheck

on:
    pull_request:
        paths:
            - '.github/workflows/js-typecheck.yml'
            - '**/*.ts'
            - '**/*.tsx'
            - 'tsconfig.json'

jobs:
    JsTypeCheck:
        name: Typecheck typescript files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/setup-node@v2
              with:
                  node-version: '24'

            - name: Checkout repository
              uses: actions/checkout@v2
              with:
                  # Ensures the entire repo is checked out (including tags)
                  fetch-depth: 0

            # Cache and install node_modules
            - uses: bahmutov/npm-install@v1
              with:
                install-command: npm ci

            - name: GitHub Action for Typescript checking
              run: npm run type-check
